.container{
    text-align: center;
    margin-top: 30px;
}
table{
    margin: auto;
}
input{
    border-radius:21px;
    border:2px solid rgb(24, 41, 24);
    font-size: 35px;
    width: 455px;
    height: 65px;
} 
button{
    border-radius:20px;
    font-size:40px;
    background:rgb(54, 53, 53);
    width:102px;
    height: 58px;
    margin: 6px;
}
.calculator{
    background-color: rgb(219, 137, 153);
    padding:23px;
    border-radius: 53px;
    display: inline-block;
}